* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    margin-bottom: 30px;
}

.Country {
    background-color: #eeeeee;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.Country h4 {
    color: gray;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.Country img {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    justify-content: space-evenly;
}

.navbar2 {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar2 img {
    height: 60px;
    width: 195px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 250px;
}

.navbar2 a {
    color: #616161;
    text-decoration: none;
}

.navbar2 button:hover {
    cursor: pointer;
    background-color: #8DC63F;
    color: white;
}

.navbar2 button {
    background-color: #3B82F6;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: none;
}

.saylaniGreen {
    color: #8dc63f;
}

.heroSection {
    margin-top: 140px;
    margin-left: 40px;
}

.heroMainHead {
    font-size: 38px;
    color: #000000D9;
}

.heroMainHead span {
    font-weight: 500;
}

.heroPara {
    margin-top: 20px;
    color: #000000D9;
}

.heroBtn {
    width: 200px;
    height: 50px;
    font-size: 14px;
    background-color: #fffefe;
    border: 1px solid black;
}

.heroSectionImg {
    position: absolute;
    right: 50px;
    top: 100px;
}

.carousel {
    width: 95%;
    margin: 0 auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.donateList {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color: #f0fddb;
    border-width: 70px;
    padding: 30px;
}

.General {
    background-color: rgb(82, 81, 81);
    color: white;
    font-size: 12px;
    padding: 20px;
    margin-top: 5px;
    margin-right: -7px;
    border-radius: 5px 0px 0px 5px;
}

.inp {
    margin-top: 5px;
    height: 60px;
    /* border-radius: 10px; */
    border: 1px solid rgb(0, 0, 0);
}

.rs {
    background-color: rgb(83, 83, 83);
    color: white;
    font-size: 17px;
    padding: 17.5px;
    margin-top: 5px;
    margin-left: -7px;
    border-radius: 0px 5px 5px 0px;
}

.donateListBtn {
    font-size: 14px;
    padding: 25px;
    border-radius: 10px;
    border: none;
    background-color: #fffefe;
    margin: 0 30px;
    cursor: pointer;
    font-weight: 600;
}

.quickDonate {
    background-color: #8dc63f;
    color: #fffefe;
    font-size: 14px;
    padding: 23px;
    border-radius: 12px;
    border: none;
    margin: 0 35px;
    cursor: pointer;
}

.donateListBtn:hover {
    background-color: #434342;
    color: #fffefe;
    transition: all 0.5s ease;
}

.doingBoxHead {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
}

.serviceBoxes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 0px;
}

.serviceBox1 {
    display: flex;
    justify-content: center;
    background-color: #f0fddb;
    width: 235px;
    height: 190px;
    margin: 0 10px;
    position: relative;
}

.hoverimg {
    height: 80px;
    position: absolute;
    top: 40px;
}

.servicetitle {
    font-weight: bold;
    position: absolute;
    top: 150px;
}

/* .box2 {
    width: 210px;
    display: flex;
    justify-content: center;
} */

.serviceBox1:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.hoverimg:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.medicalPanel{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.medicalPanel img{
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    width: 490px;
    position: relative;
}
.medicalPanel img:hover{
    cursor: pointer;
    transition: transform 0.5 ease-in;
    transform: scale(1.1);
}
.medicalPanelImg{
    position: relative;
}

.medp {
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 165px;
    margin: 0px auto;
}

.medBtn {
    position: absolute;
    top: 225px;
    left: 13px;
    background-color: #8dc63f;
    color: white;
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.mediaBoxHead {
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.other-project {
    margin: 50px Auto 0px;
    margin-left: 40px;
}

/* .review {
    border: none;
} */

.mono img {
    width: 95%;
    margin: 20px 35px 50px;
}

.newsBoxes{
    width: 96%;
    margin-left: 30px;
}

.card {
    border: none;
}
.cardImgBG{
    background-color: #efeeef;
}
.newCard1Head{
    color: #8dc73e;
}
.bgImg3{
    background-color: #166eb0;
    margin-top: 50px;
    margin-left: 34px;
    width: 95.5%;
    position: relative;
}
.bgImgParent{
    position: relative;
}

.card-title {
    text-align: center;
    font-size: 12px;
    background-color: #8dc63f;
    color: white;
    width: 130px;
    height: 23px;
    padding: 5px;
    border-radius: 5px;
}

.card-text {
    font-weight: 600;
}

.imgHead{
    position: absolute;
    left: 670px;
    bottom: 1px;
    font-weight: 500;
    color: white;
    font-size: 30px;
}
.input{
    background-color: transparent;
    position: absolute;
    right: -190px;
    margin-top: 14px;
    border: 1px solid white;
    width: 550px;
    height: 54px;
    font-size: 18px;
    color: #efeeef;
    outline: none;
}
.BUTTON{
    position: absolute;
    bottom: -130px;
    width: 550px;
    height: 54px;
    right: -190px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}

.footer {
    width: 100%;
    margin-top: 50px;
    position: relative;
    top: 90px;
}
