*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.registration_header {
   align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 100%
}

.trash {
  visibility: hidden;
}

.registration_header:before {
    background-image: url(https://images.unsplash.com/photo-1541462608143-67571c6738dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 100%
}

.registration_header .page_header_text {
    color: #666
}

.registration_page_padding {
    margin-top: 20px!important
}

header {
  color: white;
  padding: 0px 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Social {
  position: absolute;
  Left: 270px;
  top: 90px;
}

header img {
  height: 150px;
}

.logo {
  position:absolute;
  left: 670px;
  top: 10px;
  width: 250px;
  height: 70px;
}

nav a img {
  height: 30px;
  margin-left: 5px;
}

.heading {
  color: #000000;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13.5px;
  display: inline-block;
  margin: 0px 210px
}

.heading p {
  color: #696868;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12.5px;
  text-align: center;
  margin-top: 20px;
  font-weight: 550;

}


main {
  padding: 20px;
  margin: auto;
  background: white;
}

.topbtn {
  text-align: center;
  position: relative;
  bottom: 20px;
}

.topbtn button {
  border: none;
  color: rgb(0, 102, 255);
  background-color: #FAFAFA;
  font-size: 12.5px;
  border-top: 0.5px solid #F0F0F0;
  border-left: 0.5px solid #F0F0F0;
  border-right: 0.5px solid #F0F0F0;
  margin: -1px;
  padding: 12px;
  width: 8.5%;
}

button:hover {
  color: white;
}

.line {
  width: 85%;
  height: 0.5px;
  background-color: #F0F0F0;
  margin: -20px auto;
  margin-bottom: 20px;
}

.Content {
  position: absolute;
  left: 600px;
}

.Text {
  color: #6DA2CC;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin: 5px 0px 17px 0px;
  font-size: 15px;
  position: relative;
  left: 13px;
}

.input input {
  width: 400px;
  height: 50px;
  border: none;
  border: 2px solid #d8d6d6 ;
  /* box-shadow: rgba(172, 172, 172, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  border-radius: 5px;
  font-size: 15px;
  padding-left: 10px;
}

.Button button {
  width: 400px;
  height: 50px;
  margin: 17px 0px 10px 0px;
  background-color: #6DA2CC;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #5680a1;
}